In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("f_data.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        836 non-null    int64
 1   NroFormato        836 non-null    object
 2   TipoDocPerSalud   836 non-null    int64
 3   DNI profesional   724 non-null    float64
 4   Fecha ATEN        836 non-null    object
 5   Beneficiario      836 non-null    object
 6   FecNac            836 non-null    object
 7   Edad              836 non-null    int64
 8   Sexo              836 non-null    object
 9   EESS ATENCION     836 non-null    object
 10  Servicio          836 non-null    int64
 11  Contrato          836 non-null    object
 12  DNI AFI           836 non-null    int64
 13  TProfesional      836 non-null    object
 14  Profesional       836 non-null    object
 15  Tarifa            836 non-null    int64
 16  Diagnostico01     836 non-null    object
 17  TipDx01           820 non-null    object
 18  Diagnostico02     768 non-null    object
 19  TipDx02           768 non-null    object
 20  Diagnostico03     396 non-null    object
 21  TipDx03           396 non-null    object
 22  TipoAtencion      836 non-null    object
 23  HIS_CLI           836 non-null    object
 24  DNI profes        112 non-null    float64
 25  Personal Atiende  112 non-null    object
dtypes: float64(2), int64(6), object(18)
memory usage: 169.9+ KB

In [46]:
def clean_dg_01(cadena):
    try:
        if type(cadena) is float:
            # print("ES float")
            return str("")
        if type(cadena) is str:
            partes = cadena.split("-")
            return partes[0].replace(" ", "")
    except Exception as e:
        print(str(e))

In [34]:
def clean_dg_02(cadena):
    try:
        # print(cadena, type(cadena))
        if type(cadena) is float:
            # print("ES float")
            return str("")
        if type(cadena) is str:
            partes = cadena.split("-")
            return partes[0].replace(" ", "")
            
        # if(len(cadena) == 0):
            # print("cadena Vacia")
    except Exception as e:
        print(str(e))

In [41]:
def clean_dg_03(cadena: float | object):
    try:
        # print(type(cadena))
        if type(cadena) is float:
            # print("ES float")
            return str("")
        if type(cadena) is str:
            partes = cadena.split("-")
            return partes[0].replace(" ", "")
        # if(len(cadena) == 0):
            # print("cadena Vacia")
    except Exception as e:
        print(str(e))

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        836 non-null    int64
 1   NroFormato        836 non-null    object
 2   TipoDocPerSalud   836 non-null    int64
 3   DNI profesional   724 non-null    float64
 4   Fecha ATEN        836 non-null    object
 5   Beneficiario      836 non-null    object
 6   FecNac            836 non-null    object
 7   Edad              836 non-null    int64
 8   Sexo              836 non-null    object
 9   EESS ATENCION     836 non-null    object
 10  Servicio          836 non-null    int64
 11  Contrato          836 non-null    object
 12  DNI AFI           836 non-null    int64
 13  TProfesional      836 non-null    object
 14  Profesional       836 non-null    object
 15  Tarifa            836 non-null    int64
 16  Diagnostico01     836 non-null    object
 17  TipDx01           820 non-null    object
 18  Diagnostico02     768 non-null    object
 19  TipDx02           768 non-null    object
 20  Diagnostico03     396 non-null    object
 21  TipDx03           396 non-null    object
 22  TipoAtencion      836 non-null    object
 23  HIS_CLI           836 non-null    object
 24  DNI profes        112 non-null    float64
 25  Personal Atiende  112 non-null    object
 26  dg_01_fixed       0 non-null      object
dtypes: float64(2), int64(6), object(19)
memory usage: 176.5+ KB

In [47]:
df["dg_01_fixed"] = df["Diagnostico01"].apply(clean_dg_01)

In [38]:
df["dg_02_fixed"] = df["Diagnostico02"].apply(clean_dg_02)

In [42]:
df["dg_03_fixed"] = df["Diagnostico03"].apply(clean_dg_03)

In [48]:
df.isnull().sum()

Unnamed: 0            0
NroFormato            0
TipoDocPerSalud       0
DNI profesional     112
Fecha ATEN            0
Beneficiario          0
FecNac                0
Edad                  0
Sexo                  0
EESS ATENCION         0
Servicio              0
Contrato              0
DNI AFI               0
TProfesional          0
Profesional           0
Tarifa                0
Diagnostico01         0
TipDx01              16
Diagnostico02        68
TipDx02              68
Diagnostico03       440
TipDx03             440
TipoAtencion          0
HIS_CLI               0
DNI profes          724
Personal Atiende    724
dg_01_fixed           0
dg_02_fixed           0
dg_03_fixed           0
dtype: int64

In [49]:
pd.unique(df["dg_01_fixed"])

array(['U071', 'U072'], dtype=object)

In [44]:
pd.unique(df["dg_02_fixed"])

array(['J029', 'J40X', 'J00X', 'B972', 'J209', 'J960', '', 'J189', 'A419',
       'A415', 'J159', 'R500', 'Z359', 'T659', 'B829', 'K819', 'J188',
       'J969', 'J039', 'K291', 'M159', 'K297', 'Z743', 'Z208', 'F208',
       'Z742', 'K295', 'A09X', 'I10X', 'R509', 'R05X', 'Z290', 'J020',
       'J129', 'Z749', 'J80X', 'O479', 'O235', 'M545', 'R529', 'Z358',
       'N390', 'G039', 'E162', 'D039', 'S069', 'E86X', 'R100', 'G809',
       'K359', 'J019', 'J312', 'J038', 'Z348'], dtype=object)

In [45]:
pd.unique(df["dg_03_fixed"])

array(['B972', '', 'Z208', 'B208', 'Z290', 'G039', 'Z972', 'M545', 'J960',
       'K297', 'J039', 'M069', 'J312', 'J189', 'E149', 'E660', 'J180',
       'J80X', 'M543', 'Z743', 'Z748', 'R05X', 'K295', 'R509', 'I10X',
       'J029', 'R100', 'A09X', 'N760', 'K291', 'J209', 'O210', 'J441',
       'Z359', 'S300', 'A419', 'J188', 'J969', 'J304', 'N390', 'E669',
       'K590', 'Z742', 'J168', 'Z353', 'E148', 'S800', 'E86X', 'H103',
       'K658', 'E119', 'J042', 'B372', 'R070', 'J459', 'O429'],
      dtype=object)

In [50]:
diagnosticos_f = df[["dg_01_fixed", "dg_02_fixed", "dg_03_fixed"]]

In [51]:
diagnosticos_f

    dg_01_fixed dg_02_fixed dg_03_fixed
0          U071        J029        B972
1          U071        J029        B972
2          U071        J029        B972
3          U071        J40X
4          U071        J40X        B972
..          ...         ...         ...
831        U071
832        U072
833        U072
834        U072
835        U072

[836 rows x 3 columns]

In [52]:
diagnosticos_f.to_csv("diagnosticos_cleaned.csv")